* {
    margin: 1%;
}

body {
    font-family: "Nanum Pen Script", cursive;
}

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}
img{
    width: 30%;
}
#sketch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

p{
    font-size: 30px;
}

#attempt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
