*{
    margin: 1%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 213, 224);
}

h1{
    font-size: 60px;
    text-align: center;
}

p{
    font-size: 30px;
    line-height: 60px;
}